[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.0.0"
django-countries = "*"
django-allauth = "~=0.42.0"
djongo = "*"
django-crispy-forms = "*"
speechrecognition = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
decouple = "*"

[requires]
python_version = "3.8"
